@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box; /* Prevent overflow */
    
}

.features-heading {
    font-size: 5rem;
    font-weight: 600;
    color: #ffd28d;
    text-align: center;
    margin: 0 0 1.5rem 0;
}

.feature-item {
    border: 1px solid #271509b1;
    padding: 1rem;
    border-radius: 28px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;

}

.feature-description {
    font-size: 1rem;
    color: #918585;
    text-align: center;
}

@media (max-width: 1200px) {
    .features-heading {
        font-size: 8rem;
    }
}

@media (max-width: 992px) {
    .features-heading {
        font-size: 6rem;
    }

    .feature-title {
        font-size: 2.5rem;
    }

    .feature-description {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .features-heading {
        font-size: 5rem;
        padding: 40px;
    }

    .feature-item {
        padding: 5rem;
        width: 100%;
        max-width: 90%; 
        margin-bottom: 50px;
    }

    .feature-title {
        font-size: 2rem;
    }

    .feature-description {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .features-heading {
        font-size: 4rem;
        padding: 40px;
    }



    .feature-item {
        padding: 3
        rem;
        width: 100%;
        max-width: 90%; 
        /* margin: 0 auto; */
        margin-bottom: 50px;
    }

    .feature-title {
        font-size: 3rem;
    }

    .feature-description {
        font-size: 1.2rem;
    }
}
