.footer {
  background-color: rgb(236, 203, 126);
  color: #ffd28d;
  padding: 10px 20px;
  text-align: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-link {
  color: #675438;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }

  .footer-link {
    font-size: 20px;
  }
}
