@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navbar {
    position: fixed; /* Ensure navbar stays at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Lower z-index to stay behind content */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures text is pushed to the far right */
    flex-direction: row; /* Default direction */
    padding: 20px; /* Add padding to avoid content touching edges */
    margin-top: 60px; /* Adjust margin-top to ensure content is below the navbar */
    box-sizing: border-box; /* Prevent overflow */
}

.mockup {
    flex: 0 0 auto; /* Prevents image from shrinking */
    max-width: 200px; /* Adjust size as needed */
    margin: 0; /* Reset margin */
}

.text {
    font-family: 'Poppins', sans-serif;
    color: #eee2c3; /* Ensure text color is appropriate */
    text-align: right; /* Aligns text to the right within its container */
    font-size: 2.8rem; /* Adjust size if needed */
    margin: 0 20px; /* Adjust margin to prevent overflow */
    font-weight: 700;
}

.mockup {
    width: auto; /* Keeps the width flexible */
    height: 500px; /* Adjusts the height to make the image longer */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stacks image on top of text */
        align-items: center; /* Centers items horizontally */
        justify-content: center; /* Centers items vertically */
        text-align: center; /* Centers text */
        padding: 10px; /* Adds padding to the container */
    }

    .mockup {
        margin-top: 80px; /* Reset margin for better spacing control */
        height: 400px; /* Adjust the height for smaller screens */
        margin-bottom: 0;
    }

    .text {
        margin-top: 20px;
        font-weight: 800;
        font-size: 2rem; /* Adjust font size for smaller screens */
        text-align: center; /* Center text */
    }
}

/* Additional media query for screens smaller than 480px */
@media (max-width: 480px) {
    .container {
        padding: 5px; /* Less padding on very small screens */
    }

    .mockup {
        height: 300px; /* Further reduces the height for very small screens */
        margin-top: 80px; /* Reset margin */
        margin-bottom: 20px;
    }

    .text {
        font-weight: 800;
        font-size: 1.8rem; /* Adjust font size for very small screens */
        margin-top: 10px; /* Further reduced margin */
        text-align: center; /* Center text */
    }
}
