@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  margin-top: 60px;
}

.mockup {
  flex: 0 0 auto;
  max-width: 200px;
  margin: 120px;
  width: auto;
  height: 500px;
  animation: upDown 3s infinite ease-in-out; /* Add the up-down animation here */
}

.text {
  font-family: 'Poppins', sans-serif;
  color: #101927;
  text-align: right;
  font-size: 3.8rem;
  margin-right: 180px;
  margin-left: 180px;
  font-weight: 1000;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .mockup {
    margin-top: 80px;
    height: 400px;
    margin-bottom: 0;
    animation: upDown 3s infinite ease-in-out; /* Ensure animation applies here as well */
  }

  .text {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }

  .mockup {
    height: 400px;
    margin-top: 100px;
    animation: upDown 3s infinite ease-in-out; /* Ensure animation applies here as well */
  }

  .text {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 50px 0;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the value for vertical movement */
  }
  100% {
    transform: translateY(0);
  }
}
