@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.logo {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  color: #4f4634;
  margin: 1.5rem;
  font-weight: 700;
}

.navbar {
  background-color: #f9ecdf;
  color: #ffd28d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  box-sizing: border-box;
  transition: padding 0.3s ease, height 0.3s ease;
  backdrop-filter: blur(20px);
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  color: #1c170f;
}

.nav-links li {
  margin-left: 1.5rem;
  margin-right: 50px;
}

.nav-links a {
  color: #4d330c;
  text-decoration: none;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 1100;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: #735d3d;
  margin: 6px;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 2.5rem;
  }

  .navbar {
    padding: 0.5rem;
  }

  .nav-links {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navbar {
    padding: 0.2rem;
    height: 90px;
    backdrop-filter: blur(5px);
    background-color: #f9ecdf;
    
  }

  .nav-links {
    position: fixed;
    right: 0;
    top: 0;
    height: 80vh;
    width: 50vw;
    background-color: rgb(242, 211, 144);
    backdrop-filter: blur(20px);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
    /* border-top-left-radius: 5% 5%;
    border-bottom-left-radius: 5% 5%; */

  }

  .nav-links li {
    font-size: 2.7rem;
    margin: 1rem 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  .burger {
    display: block;
    margin-right: 1rem;
  }

  .navbar.active .nav-links {
    transform: translateX(0%);
  }

  .navbar.active .nav-links li {
    opacity: 1;
  }

  .navbar.active .burger div {
    background-color: #554122;
  }

  .navbar.active .burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar.active .burger .line2 {
    opacity: 0;
  }

  .navbar.active .burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
